/*
font-family: 'Berkshire Swash', cursive;
font-family: 'Fondamento', cursive;
font-family: 'Rancho', cursive;
font-family: 'Rock Salt', cursive;
*/
body {
  background-image: url("https://cdn.pixabay.com/photo/2016/09/16/21/46/background-1675212_1280.jpg");
  background-size: 100% auto;
}

#intro-graph p {
  font-family: "Fondamento", cursive;
  font-weight: 700;
  font-size: 30px;
  color: #454235;
  text-shadow: 2px 2px 2px #f6f1d1;
}

#intro-graph h1 {
  font-family: "Fondamento", cursive;
  font-size: 75px;
  color: #454235;
  text-shadow: 2px 2px 2px #f6f1d1;
}

.headLine {
  font-family: "Fondamento", cursive;
  font-size: 75px;
  color: white;
}

.gameText {
  font-family: "Fondamento", cursive;
  color: #454235;
  text-shadow: 2px 2px 2px #f6f1d1;
}

#intro-graph {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-right: auto;
  text-align: center;
}

.hunting {
  background: linear-gradient(to bottom, #454235 5%, #686350 100%);
  background-color: #99deaa;

  display: inline-block;
  cursor: crosshair;
  color: white;
  font-family: Georgia;
  font-size: 32px;
  padding: 11px 9px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
}
.hunting:hover {
  background: linear-gradient(to bottom, #686350 5%, #454235 100%);
  background-color: #5db32b;
}
.hunting:active {
  position: relative;
  top: 1px;
}

.reset {
  background: linear-gradient(to bottom, #dea799 5%, #e25b49 100%);
  background-color: #f08463;

  display: inline-block;
  cursor: crosshair;
  color: #000000;
  font-family: Georgia;
  font-size: 17px;
  padding: 11px 9px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
}
